@model VBeat.Models.PlaylistModel

@{
    ViewData["Title"] = "Details";
}


<div class="middle-container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <h1>@Model.PlaylistName</h1>
                <div class="card-image-container"> <img src="@Model.PlaylistImage" alt="Image Not Found" /> </div>

                <p>@Model.Songs.Count() Songs</p>
                <a href="#"><img class="add-playlist-to-library" src="~/images/upload.png"/></a>
            </div>
        </div>
        <div class="col-sm-8 ">

             <ul id="playlist-song-list">
                @{int index = 0;
                    foreach (var song in Model.Songs)
                    {
                        <li id="@index">
                                <div class="playlist-song-container">
                                    <img class="add-song-to-audio-player" src="~/images/speaker.png"/>
                                    <a asp-controller="SongModels" asp-action="Details" asp-route-id="@song.Song.SongId">
                                        <img class="song-information" src="~/images/information.png" />
                                    </a>
                                    <div class="song-name"><p>@song.Song.SongName</p></div>
                                    <div class="song-artist">
                                        <p>
                                             @foreach (var artist in song.Song.ArtistList)
                                             {
                                                <span><img class="separator" src="~/images/dot.png" /></span> @artist.Artist.ArtistName
                                             }
                                        </p>
                                    </div>
                                    <div class="song-path-container">
                                        <p>@song.Song.SongPath</p>
                                    </div>
                                </div>
                        </li>
                        index++;
                        }
                }
             </ul>
        </div>
    </div>
</div> 
       