@model IEnumerable<VBeat.Models.PlaylistModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container">
    <div class="row">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">PlayList Image</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var playList in (IEnumerable<VBeat.Models.PlaylistModel>)Model)
                {
                    <tr>
                        <td>
                            <div class="col-sm-6">
                                <div class="card">
                                    <h1>@playList.PlaylistName</h1>
                                    <div class="card-image-container">
                                        <img src="@playList.PlaylistImage" alt="Image Not Found" />
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="col-sm-12 active">
                                <div class="playlist-song-container">
                                    <div class="song-genre"><p class="first-info">@Html.DisplayNameFor(playListModel => playList.Public): </p><p class="second-info">@playList.Public</p></div>
                                </div> 
                                <a asp-action="Edit" asp-route-id="@playList.PlaylistId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@playList.PlaylistId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@playList.PlaylistId">Delete</a> |
                                <a asp-controller="SuggestPlaylistSongs" asp-action="Suggest" asp-route-id="@playList.PlaylistId">Discover</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>