@model VBeat.Models.ShowModel

@{
    ViewData["Title"] = "Details";
}

<div class="middle-container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <h1>@Model.ShowName</h1>
                <div class="card-image-container">
                    <!--Chnage the img src to show image-->
                    <img src="@Model.ShowImagePath" alt="Image Not Found"/>
                </div>
            </div>
        </div>
        <div class="col-sm-8 ">
            <ul id="playlist-song-list">
                <li>
                    <div class="playlist-song-container">
                        <div class="song-genre"><p class="first-info">Country: </p><p class="second-info">@Model.Country</p></div>
                    </div>
                    <div class="playlist-song-container">
                        <div class="Url2Mp3"><p class="first-info">City: </p><p class="second-info">@Model.City</p></div>
                    </div>
                    <div class="playlist-song-container">
                        <div class="addedDate"><p class="first-info">Street Name: </p><p class="second-info">@Model.StreetName</p></div>
                    </div>
                    <div class="playlist-song-container">
                        <div class="releaseDate"><p class="first-info">House Number: </p><p class="second-info">@Model.HouseNumber</p></div>
                    </div>
                    <div class="playlist-song-container">
                        <div class="releaseDate"><p class="first-info">Show Time: </p><p class="second-info">@Model.ShowTime</p></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>