@model VBeat.Models.SongModel

@{
    ViewData["Title"] = "Details";
}


<div class="middle-container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <h1>@Model.SongName</h1>
                <div class="card-image-container"> <img src="@Model.SongImagePath" alt="Image Not Found"/>
                </div>
            </div>
        </div>
        <div class="col-sm-8 ">
            <ul id="playlist-song-list">
                <li>
                    <div class="playlist-song-container">
                        <div class="song-genre"><p class="first-info">Song Genre: </p><p class="second-info">@Model.Genre</p></div>
                    </div>
                    <div class="playlist-song-container">
                        <div class="Url2Mp3"><p class="first-info">Song Path: </p><p class="second-info">@Model.SongPath</p></div>
                    </div>
                    <div class="playlist-song-container">
                        <div class="addedDate"><p class="first-info">Added Date: </p><p class="second-info">@Model.AddedDate</p></div>
                    </div>
                    <div class="playlist-song-container">
                        <div class="releaseDate"><p class="first-info">Release Date: </p><p class="second-info">@Model.ReleaseDate</p></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>