@model VBeat.Models.SongModel

@{
    ViewData["Title"] = "Details";
}


<div class="middle-container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <h1>@Model.SongName</h1>
                <div class="card-image-container"> <img src="@Model.SongImagePath" alt="Image Not Found"/>
                </div>
            </div>
        </div>
        <div class="col-sm-8 ">
            <ul id="playlist-song-list">
                <li>
                    <div class="playlist-song-container">
                        <div class="song-genre"><p class="first-info">Song Genre: </p><p class="second-info">@Model.Genre</p></div>
                    </div>
                    <div class="playlist-song-container">
                        <div class="addedDate"><p class="first-info">Added Date: </p><p class="second-info">@Model.AddedDate</p></div>
                    </div>
                    <div class="playlist-song-container">
                        <div class="releaseDate"><p class="first-info">Release Date: </p><p class="second-info">@Model.ReleaseDate</p></div>
                    </div>

                    <div class="playlist-song-container">
                        <div class="artists">
                            <p class="first-info">Artists:</p>
                            <p class="second-info">
                                @foreach (var a in Model.ArtistList)
                                {
                                    <span>@a.Artist.ArtistName</span>
                                    @if (a != Model.ArtistList.ElementAt(Model.ArtistList.Count - 1))
                                    {
                                        <span>, </span>
                                    }
                                }
                            </p>
                        </div>
                    </div>


                </li>
            </ul>
            <div class="col-sm-6 ">
                <button id="add-song-to-playlist">Add to playlist<img src="~/images/plus-btn.png" alt="No Image Found"></button>
            </div>
            <div class="col-sm-6 ">
               @foreach(var playlist in (IEnumerable<PlaylistModel>)ViewData["USER_PLAYLISTS"])
               {
                    <div class="add-song-to-specific-playlist">
                        <a asp-controller="PlaylistModels" asp-action="addSongToPlaylist" asp-route-playlistId="@playlist.PlaylistId" asp-route-songId="@Model.SongId">
                            Add to @Html.DisplayFor(playlistModel => playlist.PlaylistName) playlist
                        </a>
                    </div>
               }
            </div>
    </div>
</div>