@model IEnumerable<VBeat.Models.SongModel>

@{
    ViewData["Title"] = "Index";
}

<section id="new-releases">
    <div><h1>New Releases</h1></div>
    <div id="carousel">
        @foreach (var item in (IEnumerable<SongModel>)ViewData["NEW_RELEASES"])
        {
            <div class="song-container">
                <a asp-action="Edit" asp-route-id="@item.SongId">
                    <img src="@Html.DisplayFor(modelItem => item.SongImagePath)" width="30%" height="60%" />
                </a>             
            </div>
        }
    </div>
    <div class="song-details-container"></div>
        @foreach (var item in (IEnumerable<SongModel>)ViewData["NEW_RELEASES"])
        {
            <div id ="@Html.DisplayFor(modelItem => item.SongId)" class="song-wrraper">
                <p> @Html.DisplayFor(modelItem => item.SongName)</p><br />
                <p>
                 @foreach (var artist in item.ArtistList)
                 {
                     @Html.DisplayFor(modelArtist => artist.Artist.ArtistName) <br/>
                 }
                </p>
            </div>
        }
    </div>
</section>

<section id="recently-played">
    <div class="middle-container">
        <h1>Recently Played</h1>

        <p>save in db because even after refresh it is still shown</p>
    </div>
</section>

