
@model IEnumerable<VBeat.Models.SongModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container">
    <div class="row">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Song Image</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var song in (IEnumerable<SongModel>)Model)
                {
                    <tr>
                        <td>
                            <div class="col-sm-5">
                                <div class="card">
                                    <h1>@song.SongName</h1>
                                    <div class="card-image-container">
                                        <img src="@song.SongImagePath" alt="Image Not Found" />
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="col-sm-8 ">
                                <div class="playlist-song-container">
                                    <div class="song-genre"><p class="first-info">@Html.DisplayNameFor(songModel => song.Genre): </p><p class="second-info">@song.Genre</p></div>
                                </div>
                                <div class="playlist-song-container">
                                    <div class="Url2Mp3"><p class="first-info">@Html.DisplayNameFor(songModel => song.SongPath): </p><p class="second-info">@song.SongPath</p></div>
                                </div>
                                <div class="playlist-song-container">
                                    <div class="addedDate"><p class="first-info">@Html.DisplayNameFor(songModel => song.AddedDate): </p><p class="second-info">@song.AddedDate</p></div>
                                </div>
                                <div class="playlist-song-container">
                                    <div class="releaseDate"><p class="first-info">@Html.DisplayNameFor(songModel => song.ReleaseDate): </p><p class="second-info">@song.ReleaseDate</p></div>
                                </div>

                                <div class="playlist-song-container">
                                    <div class="artists">
                                        <p class="first-info">Artists:</p>
                                        <p class="second-info">
                                            @foreach (var a in song.ArtistList)
                                            {
                                                <span>@a.Artist.ArtistName</span>
                                                @if (a != song.ArtistList.ElementAt(song.ArtistList.Count - 1))
                                                {
                                                    <span>, </span>
                                                }
                                            }
                                        </p>
                                    </div>
                                </div>

                                <a asp-action="Edit" asp-route-id="@song.SongId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@song.SongId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@song.SongId">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



