@using Microsoft.EntityFrameworkCore
@model IEnumerable<VBeat.Models.UserModel>

@{
    ViewData["Title"] = "Index";
    IEnumerable<VBeat.Models.ArtistModel> artistList = (IEnumerable<VBeat.Models.ArtistModel>)ViewData["ArtistsList"];
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Is Artist
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @{
                if (@artistList.Contains(item))
                { 
                  <td>
                      <input type="checkbox" checked="checked" onclick="return false"/>
                  </td>
                  <td>
                        <a asp-controller="ArtistModels" asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                        <a asp-controller="ArtistModels" asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                        <a asp-controller="ArtistModels" asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                  </td>
                }
                else { 
                    <td>
                        <input type="checkbox" onclick="return false"/>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.UserId">Details</a> 
                        @if (!item.Username.Equals("admin"))
                        {
                            <a asp-controller="UserModels" asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                        }
                    </td>
                }
            }
            

            
        </tr>
        }
    </tbody>
</table>
